parameters:
    level: 6
    paths:
        - src
    tmpDir: .phpstan-cache
    scanDirectories:
        - vendor
    scanFiles: []
    ignoreErrors: []
    excludePaths:
        - vendor/*
        - tests/*
        - storage/*
        - bootstrap/*
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
